apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-kievwxvt
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-kievwxvt:d4a0810be2194e35c18abcc9dfce97a67263f489@sha256:487a3bc8177039a5e34f68b312f5fec1bab455afb8990fb8d7012c43dfb53f74
          name: container-image
